
@{
    ViewBag.Title = "title";
   
}


<div ng-controller="lectureController">



    <div style="margin-bottom:25px" class="container">
        <h2>Upload a new Lecture</h2>
        <form role="form" name="uploadForm" class="form-horizontal">
            <fieldset>
                <legend>Category</legend>
                <div class="form-group" ng-class="{'has-error':uploadForm.category.$invalid && uploadForm.category.$dirty}">
                    <label class="col-sm-3 control-label" for="lecture">Choose your category</label>
                    <div class="col-sm-9">
                        <select class="form-control" id="category" ng-model="category" ng-options="cat.Title for cat in categories" ng-required="true" name="category"></select>
                        <span class="help-block" ng-show="uploadForm.category.$error.required">Category is required</span>
                    </div>
                </div>

            </fieldset>
            <fieldset>
                <legend>Course Information</legend>
                <div class="form-group" ng-class="{'has-error':uploadForm.lecture.$invalid }">
                    <label class="col-sm-3 control-label" for="lecture">Upload your lecture</label>
                    <div class="col-sm-9">
                        <input type="file" ng-file-select="onFileSelect($files)" ng-multiple=" false" accept="*.*" id=" lecture" name="lecture" class="form-control" ng-required="true" />
                    </div>
                    <span class="help-block" ng-show="uploadForm.lecture.$error.required">File upload is required</span>
                </div>
                <div class="col-sm-3">

                    <progressbar animate="true" value="dynamic" class="progress-striped active" type="success" ng-show="isUploading">{{dynamic}}%</progressbar>
                </div>


            </fieldset>
            <div class="col-sm-offset-3 col-sm-9">
                <input type="submit" class="btn form-actions" ng-click="submitForm()" value="Submit" />
            </div>
        </form>
    </div>




</div>

@section scripts {
    <script src="~/Scripts/js/jquery.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/jquery.prettyPhoto.js"></script>
    <script src="~/Scripts/js/jquery.isotope.min.js"></script>
    <script src="~/Scripts/js/main.js"></script>
    <script src="~/Scripts/js/wow.min.js"></script>
    <script src="~/app/Lecturer/lectureController.js"></script>

    <script src="~/app/Services/lectureService.js"></script>
}