

<div class="container">
    <form role="form" class="form-horizontal">
        <fieldset>
            <legend>Category</legend>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="lecture">choose your category</label>
                <div class="col-sm-9">
                    <select id="category" ng-model="category" ng-options="cat.Title for cat in categories" name="category">
                       
                    </select>
                </div>
            </div>

        </fieldset>
        <fieldset>
            <legend>Course Information</legend>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="lecture">Upload your lecture</label>
                <div class="col-sm-9">
                    <input type="file" id="lecture" name="lecture" class="form-control" value="" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="exercise">Upload exercise files</label>
                <div class="col-sm-9">
                    <input type="file" id="exercise" class="form-control" name="lecture" value="" />
                </div>
            </div>

        </fieldset>
        <div class="col-sm-offset-3 col-sm-9">
            <input type="submit" class="btn btn-default" ng-click="submitForm()" value="Submit" />
        </div>
    </form>
</div>
